.main-container {
    height: 100vh;
}

.form-container {
    width: 340px;
    padding: 1rem;
    z-index: 100;
}

.sign-in-desc {
    font-size: 1.1em;
}

.sign-up {
    font-size: .8em;
}

#create_account {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.banner {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner img {
    width: 180px;
  }
}

@media (max-width: 767px) {
    .banner {
        display: none;
    }
}